body{
    background-color: #252a34;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}
.my-nav{
    text-align: center;
}
.my-nav h1{
    font-size: 3em;
    
    /*margin-left: 50px;*/
}
.location img{
    height: 25px;
    width: 25px;
    
}
.location li{
    display: inline;
    
}
.my-nav-content li{
    display: inline;
    
}
.links li{
    padding: 10px;
}
.my-nav-content img{
    height: 50px;
    width: 50px;
    margin: 10px;
    
}
.container{
    width:75%;
    margin:auto;
}
.about{
    padding: 10px;
    text-align:left;
    
}
.focus{
    text-decoration: underline;
    font-weight: bolder;
    font-size: large;
    
}
.page-nav{
    width:75%;
    margin:auto;
    text-align:left;
}
.projects{
    color: darkslategray;
    text-align: center;
    font-size: large;
}
.img_des{
    position: absolute;
    margin-top: -1px;
    top:0px;
    left:0;
    right:0;
    bottom: 0px;;
    height: 400px;
    background: rgba(38, 48, 54, 0.72);
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}
.img_des p{
    margin-top:100px;
    color: #fff;
    font-weight: bolder;

}
.img_wrap:hover .img_des {
    visibility: visible;
    opacity: 1;
  }